doctype html
html(lang="en")
  head
    title Grocery Automation
    link(rel="stylesheet", href="/assets/index.css")
  body
    div.container
      div.product-container
        h3 Enter product name
        div.form-container 
            form(action="/search", method="POST")
              input(type="text", name="productname" autocomplete="off")
              input(type="submit", value="Search")